.mac-image img {
    height: 500px;
    width: auto;
  }
  .input {
    display: inline;
    width: 100%;
    border-radius: 5px;
  }
  button:hover {
    background-color: black;
    color: white;
  }